@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "razor-layout.cshtml";
}
<p>
    Username: @Model.Username
</p>
<a href="/cookies">Cookies</a><br/>
<a href="/signout">Signout</a>