@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<html>
<head>
    <title>Nancy Owin Security Sample</title>
</head>
<body>
    <div id="container">
        @RenderBody()
        <p>
            <a href="/">Home</a>
        </p>
    </div>
</body>
</html>